# Python cache
src/__pycache__/
*.pyc
*.pyo

# Colab and system
.ipynb_checkpoints/
#.DS_Store

# Virtual environment
.env
.venv/
travelbot_env/
venv/
tcvenv/



# OS files
#.DS_Store

# Reports and documents
*.pdf
*.docx
*.ipynb

# IDE and notebook settings
.vscode/
.idea/

#models
#lora_travel_t5/adapter_model.safetensors

#other versions of src files 
src/retrieval_faiss_v1.py
src/lora_finetune_v1.py
src/raglite_chatbot_v1.py